<div class="collection__card--wrapper">
  <a href="{{ url }}">
    <div class="collection__card--img-wrapper">
      {% comment %} {{ image | image_url: width: 275 | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: "collection__card-img" }} {% endcomment %}
      <div class="card__media">
        <div class="media media--transparent media--hover-effect">
          <img
            srcset="
              {%- if image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 330 -%}{{ card_collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 535 -%}{{ card_collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 1000 -%}{{ card_collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 1500 -%}{{ card_collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if card_collection.featured_image.width >= 3000 -%}{{ card_collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
              {{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w
            "
            src="{{ card_collection.featured_image | image_url: width: 1500 }}"
            sizes="
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
              (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
              calc(100vw - 3rem)
            "
            alt="{{ card_collection.featured_image.alt | escape }}"
            height="{{ card_collection.featured_image.height }}"
            width="{{ card_collection.featured_image.width }}"
            loading="lazy"
            class="motion-reduce">
        </div>
      </div>
    </div>
  </a>
  <h2>
    <a class="collection__card--title" href="{{ url }}">
      {{ title }}
    </a>
  </h2>
</div>