<div class="page-width">
  <div class="container__collection">
    <div class="container__collection-heading">
      <h2 class="container__collection-heading">{{ section.settings.heading }}</h2>
    </div>
    <div class="slider">
      {% for block in section.blocks %}
      <div class="container__collection-card slide">
        <div class="container__product-image">
          <img src="{{ block.settings.product_image |  img_url: 'medium' }}" class="product-image">
        </div>
        <div class="container__product-title">
          <h2>{{ block.settings.title }}</h2>
        </div>
        <div>
          <a class="collection-btn" href="{{ block.settings.collection.url }}">{{ block.settings.button_text }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>

  .container__collection {
    background-color: #F3F7F7;
    padding: 2rem;
  }

  .container__collection-heading {
    font-size: 37px;
    color: #074542;
    font-weight: 600;
  }

  .container__collection-card {
    width: 400px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 0.375rem;
  }

  .container__product-image {
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: contain;

  }

  .product-image {
    height: 380px;
  }

  .container__product-title h2 {
    font-size: 36px;
    font-weight: 600;
    color: #364241;
    text-align: center;
    margin-block: 0.5rem;
  }

  .collection-btn {
    background: white;
    font-size: 16px;
    padding: 1rem 4rem;
    border: 1px solid #074542;
    color: #074542;
    border-radius: 29px;
    text-decoration: none;
  }


</style>

{% schema %}
  {
    "name": "Brand Collection",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Rich text</p>"
      }
    ],
    "blocks": [
      {
        "type": "brand_collection",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Product Image"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }, {
            "type": "inline_richtext",
            "id": "title",
            "label": "Brand Name",
            "default": "Brand"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand Collection",
        "category": "Section",
        "blocks": [
          {
            "type": "brand_collection"
          }
        ]
      }
      
    ]
  }
{% endschema %}