{{ 'swiper.min.css' | asset_url | stylesheet_tag }}
{% comment %} 
{{ 'swiper.min.js' | asset_url | script_tag }} {% endcomment %}
<script src="{{ 'swiper.min.js' | asset_url }}" defer="defer"></script>


<div class="page-width">
  <div class="container__collection">
    <div class="collection__heading-container">
      <h2 class="container__collection-heading">{{ section.settings.heading }}</h2>
      <div class="btn-group">
        <button class="slider__btn slider__btn--left">{% render 'icon-minus' %}</button>
        <button class="slider__btn slider__btn--right">{% render 'icon-plus' %}</button>
      </div>
    </div>
    <div class="collection__list slider-new">
      {% for block in section.blocks %}
        <div class="container__collection-card slide">
          <div class="container__product-image">
            <img src="{{ block.settings.product_image |  img_url: 'medium' }}" class="product-image">
          </div>
          <div class="container__product-title">
            <h2>{{ block.settings.title }}</h2>
          </div>
          <div>
            <a class="collection-btn" href="{{ block.settings.collection.url }}">{{ block.settings.button_text }}</a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

<style>

  .container__collection {
    background-color: #F3F7F7;
    padding: 2rem;
  }

  .collection__heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .container__collection-heading {
    font-size: 37px;
    color: #074542;
    font-weight: 600;
  }

  .collection__list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
  }

  .container__collection-card {
    width: 400px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 0.375rem;
  }

  .container__product-image {
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: contain;

  }

  .product-image {
    height: 380px;
  }

  .container__product-title h2 {
    font-size: 36px;
    font-weight: 600;
    color: #364241;
    text-align: center;
    margin-block: 0.5rem;
  }

  .collection-btn {
    background: white;
    font-size: 16px;
    padding: 1rem 4rem;
    border: 1px solid #074542;
    color: #074542;
    border-radius: 29px;
    text-decoration: none;
    font-weight: 600;
  }

  .slider__btn svg {
    width: 20px;
    height: 20px;
  }


</style>

<script defer>

  document.addEventListener('DOMContentLoaded', function() {
  var swiper = new Swiper('.mySwiper', {
    slidesPerView: 4,
    spaceBetween: 30,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
  });

    // const slides = document.querySelectorAll(".slide");
    
    // const sliderNew = document.querySelector(".slider-new");
    // const btnLeft = document.querySelector('.slider__btn--left');
    // const btnRight = document.querySelector('.slider__btn--right');
    
    // sliderNew.style.transform = 'scale(0.5)';


    // slides.forEach((s, i) => (s.style.transform = `translateX(${400 * i}px)`));

</script>

{% schema %}
  {
    "name": "Brand Collection",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Rich text</p>"
      }
    ],
    "blocks": [
      {
        "type": "brand_collection",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Product Image"
          }, {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }, {
            "type": "inline_richtext",
            "id": "title",
            "label": "Brand Name",
            "default": "Brand"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand Collection",
        "category": "Section",
        "blocks": [
          {
            "type": "brand_collection"
          }
        ]
      }

    ]
  }
{% endschema %}