
{{ 'product-card-new.css' | asset_url | stylesheet_tag }}

{% comment %} 
{{ 'swiper.min.js' | asset_url | script_tag }} {% endcomment %}


<div class="container__feature-collection page-width">
  <div class="btn-group">
      <div class="swiper-btn swiper-button-prev"></div>
      <div class="swiper-btn swiper-button-next"></div>
    </div>
  <div class="container__feature-collection--title-wrapper">
    <h2 class="container__feature-collection--title">{{ section.settings.heading }}</h2>
  </div>
  <div class="feature-collection swiper mySwiper {{ section.id }}">
    <div class="container__product-list swiper-wrapper">
      {% for product in section.settings.collection.products %}
        {% render 'product-card-new' product: product
        %}
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>


{% javascript %}

  // let swiper = new Swiper(".mySwiper", {
  //   slidesPerView: 4,
  //   pagination: {
  //     el: ".swiper-pagination",
  //     clickable: true
  //   },
  //   navigation: {
  //     nextEl: '.swiper-button-next',
  //     prevEl: '.swiper-button-prev',
  //   },

// pagination: {
// el: ".swiper-pagination",
// clickable: true;
// },
//  });

// document.addEventListener('DOMContentLoaded', function() {
//   var swiper = new Swiper('.mySwiper', {
//     slidesPerView: 4,
//     spaceBetween: 30,
//     pagination: {
//       el: '.swiper-pagination',
//       clickable: true,
//     },
//     navigation: {
//       nextEl: '.swiper-button-next',
//       prevEl: '.swiper-button-prev',
//     },
//   });
// });

document.addEventListener('DOMContentLoaded', function() {
  //    document.addEventListener('shopify:section:load', () => {
    const id = "{{ section.id }}"

    let swiper = new Swiper(`.mySwiper`, {
    slidesPerView: 2,
    spaceBetween: 30,
    // grid: {
    //       rows: 2,
    // },
    pagination: {
      el: `.swiper-pagination`,
      clickable: true,
    },
    navigation: {
      prevEl: `.swiper-button-prev`,
      nextEl: `.swiper-button-next`,
    },
    breakpoints: {
      786: {
        slidesPerView: 4,
        spaceBetween: 10,
        
      }
    },
    observer: true, 
    observeParents: true,
  })
  setTimeout(() => {
    console.log(`swiper.init()`);
  swiper.init();

  console.log(`swiper.update()`);
  swiper.update();
  }, 5000);
   
    });

{% endjavascript %}


{% schema %}
  {
    "name": "New Featured Collection",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Collection</p>"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "New Featured Collection",
        "category": "Section"
      }
    ]
  }
{% endschema %}