<header class="container__nav-bar ">
  <div class="main__nav-bar color-{{ section.settings.color_scheme }}">
    <a class="menu-drawer-btn">{% render 'icon-hamburger' %}</a>
    <a href="/" class="header__logo">
      <img src="{{ section.settings.brand_logo |  img_url: 'medium' }}" alt="{{ site.name }}">
    </a>

    <ul class="header-nav">
      {% for link in section.settings.navigation.links %}
        <li class="nav-link">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if section.settings.mega_navbar != blank %}
    <div class="mega-menu__nav-bar color-{{ section.settings.menu_color_scheme }}">
      <ul class="mega-menu__nav">
        {% for link in section.settings.mega_navbar.links %}
          <li class="mega__nav-link">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</header>
<div class="header-class__overlay"></div>


<style>
  /* Editable Css */
  .header__logo {
    width: {{ section.settings.logo_width }}px;
  }

</style>

<style>
  .main__nav-bar {
    /* height: 85px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-drawer-btn svg {
    width: 16px;
    height: 16px;
  }

  .header__logo {
    display: block;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px
  }

  .nav-link a {
    text-decoration: none;
    color: rgb(var(--color-foreground));
  }

  .nav-link {
    list-style: none;
  }

  .mega-menu__nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mega-menu__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    padding-inline: 2rem;
    gap: 4rem;
    align-items: center;
  }

  .nav-active {
    transform: none;
  }

  .mega__nav-link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: rgb(var(--color-foreground));
  }

  .mega__nav-link {
    list-style: none;
  }

  @media screen and (max-width: 896px) {
    .mega-menu__nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      overflow: auto;
      width: 90%;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 2rem;
      background-color: rgb(var(--color-background));
      z-index: 10;
      transform: translateX(-100%);
      transition: 0.4s transform;
      gap: 2rem;
    }

    .mega__nav-link {
      border-bottom: 1px solid rgba( 0, 0, 0, 0.1) ;
      width: 100%;
      text-align: center;
      padding-bottom: 0.5rem;
    }
    .header-class__overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba( 0, 0, 0, 0.7);
      z-index: 9;
      display: block !important;
    }
  }

</style>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "brand_logo",
        "label": "Header Logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo Width",
        "default": 100,
        "min": 20,
        "max": 300,
        "step": 5
      },
      {
        "type": "link_list",
        "id": "navigation",
        "label": "Navigation Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "mega_navbar",
        "label": "Mega Menu"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }, {
        "type": "color_scheme",
        "id": "menu_color_scheme",
        "label": "t:sections.header.settings.menu_color_scheme.label",
        "default": "scheme-1"
      }
    ]
  }
{% endschema %}